@use "./../abstracts/breakpoints" as *;
.banner-2 {
    background-image: url("../../../images/image-about-dark.jpg");
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: (240px / 330px) * 100%;
  height: 0;
  @include media(">=850px") {
    grid-area: banner2;
    height: 100%;
    // padding-top: 0;
   }
}