@use '../util/__util' as *;
#navigation {
    display: flex;
    justify-content: space-between;

    a {
        font-size: 1.125rem;
        padding-left: 10px;
    }

    #nav-menu {
        display: flex;
        @include breakpoint-down(small) {
            position: fixed;
            right: -100%;
            top: 5rem;
            flex-direction: column;
            background-color: var(--link-text);
            color: var(--Black);
            width: 70%;
            height: 230px;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            
        
            &.active {
              right: 50%;
              transform: translateX(50%);
              a {
                color: var(--Black);
                padding: 25px 50px;
                &:hover {
                    background-color: var(--Darkgray);
                    color: var(--link-text);
                }
            }
            a:nth-child(1) {
                border-bottom: 1px solid var(--Black);
            }
            a:nth-child(2) {
                border-bottom: 1px solid var(--Black);
            }
            }

            
        }
    }

    #hamburger {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background-color: var(--link-text);
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        @include breakpoint-down(small) {
            display: block;
            cursor: pointer;
        }
    }
}