@use '../components/article-card';
@use "./../abstracts/colors" as *;
@use "./../abstracts/breakpoints" as *;

#articles {
    background-color: $Very-Light-Gray;
    .container {
        padding: 50px 20px;
        h2 {
            text-align: center;

            @include media(">=860px") { 
                text-align: left;
                    }
        }

        @include media(">560px") { 
            padding: 50px 50px;
    }


    }

    .article-card-container {
        @include media(">640px") {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         column-gap: 10px;
        }

        @include media(">=860px") { 
            grid-template-columns: repeat(4, 1fr);
            column-gap: 5px;
            
           }
     }
}