@use "../abstracts/colors" as *;
@use "./../abstracts/breakpoints" as *;

#gallary, #ov-gallary {
  width: 100%;
  height: 40vh;
  // position: relative;
  max-width: 500px;
  flex-basis: 50%;

  @include media(">tablet") {
    height: 100%;
   
  }
  @include media(">tablet", "<=smdesktop") {
    height: 100%;
    width: 370px;
  }
  @include media(">smdesktop", "<=mddesktop") {
    height: 100%;
    width: 390px;
  }

  .slider {
    width: inherit;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    // transform: translateY(50%);
    display: flex;
    align-items: center;

    .slide {
      flex: 0 0 100%;
      transition: transform 1s ease;
      // position: relative;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
    // queries
    @include media(">phone", "<=tablet") {
      height: 50vh;
    }
    @include media(">tablet") {
      flex-basis: 50%;
      height: 100%;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
    }
  }

  // STEP: specific style for ov-gallery
 

// *******************Buttons********************//
  .btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    top: 50%;
    opacity: 0.2;
    border: 2px solid $Grayish-blue;
    overflow: hidden;

    &:hover {
      opacity: 1;
    }
  }

  .prev-btn {
    left: 3px;
    z-index: 999;
  }
  .next-btn {
    right: 3px;
    z-index: 999;
  }

  //***************Direct thumbnai section***********//
  .thumbnail-container {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: space-around;

    .thum {
      height: 100px;
      width: 100px;
      padding: 5px;
  

      a {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 10px;
        border: 1px solid transparent;
        transition: all 200ms ease-in-out;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          
         
        }
        &:hover {
          opacity: .5;
          width: 105%;
          height: 105%;
          scale: (1.05);
        }
        &:focus {
          border: 2px solid $Orange;
          width: 100%;
          height: 100%;
          scale: (1.05);
        }
      
      }
    }
  }
}


#ov-gallary {
  position: absolute;
  width: 100%;
  padding: 223px 0;
  height: 100%;
 

  .close-btn {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    top: 190px;
    cursor: pointer;
    z-index: 99999 !important;

    svg {
      width: 20px;
      height: 20px;
      z-index: 99999 !important;
      position: absolute;
      fill: #ffffff;
     
      opacity: 1;

      &:hover {
        fill: $Orange;
      }
    }
  }

  .slider {
    width: 100%;
    height: 100%;
    z-index: 99999 !important;
  }

  .thumbnail-container {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 99999 !important;
  }

  &::after {
    content: "";
    position: absolute;
    top: -18px;
    left: -1166px;
    width: 1000vw;
    height: 100vh;
    opacity: 0.7;
    background-color: #222121;
    z-index: 999;
  }
}