@use "./../abstracts/breakpoints" as *;
.about-fortune {
    padding: 50px 30px;


    h2 {
        font-size: 1.375rem;
font-size: clamp(1.375rem, 1.3rem + 0.375vw, 1.75rem);
        margin-bottom: 15px;
    }

    @include media(">=850px") {
        grid-area: about;
        padding: 40px 65px;
       }
      @include media(">=1440px") {
      
        padding: 50px 100px;
       }
}