* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
body * img {
  width: 100%;
}

.clipboard {
  margin: 0 auto;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clipboard #logo {
  margin: 120px auto 60px;
  display: block;
  width: 100%;
}
.clipboard #logo img {
  width: 30%;
}
.clipboard .description {
  margin: 20px 0 50px;
  color: hsl(201, 11%, 66%);
}
.clipboard .buttons .btn {
  display: block;
  width: 100%;
  padding: 10px 70px;
  border-radius: 30px;
  border: none;
  color: #fff;
}
.clipboard .buttons .btn-ios {
  background-color: hsl(171, 66%, 44%);
  margin-bottom: 20px;
  border-bottom: 2px solid #219f8a;
}
.clipboard .buttons .btn-ios:hover {
  background-color: hsl(171, 63%, 52%);
}
.clipboard .buttons .btn-mac {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 2px solid #4f62da;
}
.clipboard .buttons .btn-mac:hover {
  background-color: hsl(233, 96%, 72%);
}

#keep-track {
  text-align: center;
  margin-top: 150px;
}
#keep-track p {
  color: hsl(201, 11%, 66%);
  margin: 25px 0 60px;
  display: inline-block;
}
#keep-track .flex-box {
  display: flex;
  flex-direction: column;
}
#keep-track .flex-box .flex-item img {
  width: 100%;
}
#keep-track .flex-box .text-box {
  margin-top: 55px;
}

#access-clipboard {
  margin-top: 70px;
}
#access-clipboard p {
  margin-top: 25px;
  margin-bottom: 65px;
  color: hsl(201, 11%, 66%);
  display: inline-block;
}
#access-clipboard img {
  max-width: 900px;
}

#supercharge {
  text-align: center;
  margin-top: 140px;
}
#supercharge h2, #supercharge h3 {
  margin-bottom: 20px;
}
#supercharge p {
  color: hsl(201, 11%, 66%);
  display: inline;
}
#supercharge .grid-box {
  display: grid;
  grid-template-columns: repeat(1, auto);
}
#supercharge .grid-box .grid-item img {
  width: 44px;
  height: 40px;
  margin: 50px 0;
}

#companies {
  margin: 120px 0;
  display: grid;
  grid-template-columns: repeat(1, 160px);
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#companies img {
  width: 150px;
  height: inherit;
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}
.more .logo {
  flex-basis: 20%;
  width: 60px;
  height: 60px;
}
.more .logo img {
  width: inherit;
  height: inherit;
}
.more .links {
  flex-basis: 60%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, auto);
}
.more .links li {
  padding: 10px;
}
.more .links li a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}
.more .links li a:hover {
  color: hsl(171, 66%, 44%);
}
.more .icons {
  flex-basis: 20%;
}
.more .icons i {
  padding: 0 10px;
  font-size: 30px;
}
.more .icons i:hover {
  color: hsl(171, 66%, 44%);
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

* button {
  font-size: 20px;
}

* p {
  max-width: 750px;
}

@media (min-width: 640px) {
  #companies {
    grid-template-columns: repeat(2, 160px);
  }
}
@media (min-width: 912px) {
  .container {
    max-width: 1100px;
  }
  #keep-track .flex-box {
    flex-direction: row;
    position: relative;
  }
  #keep-track .flex-box .flex-item {
    flex-basis: 50%;
  }
  #keep-track .flex-box .flex-item img {
    position: absolute;
    width: 450px;
    left: -38px;
  }
  #supercharge .grid-box {
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 840px) {
  #companies {
    grid-template-columns: repeat(4, 160px);
  }
  .more {
    flex-direction: row;
    align-items: flex-start;
  }
  .more .links {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
@media (min-width: 1024px) {
  #keep-track .flex-box .flex-item img {
    width: 500px;
  }
  #companies {
    grid-template-columns: repeat(5, 160px);
  }
  .more .links {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  * p {
    font-size: 22px;
    text-align: center;
  }
  * h1 {
    font-size: 50px;
  }
  * h2 {
    font-size: 35px;
  }
  * h3 {
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */