@import './colors';
.clipboard {
    margin: 0 auto;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #logo {
        margin: 120px auto 60px;
        display: block;
        width: 100%;

        img {
            width: 30%;
        }
    }
    .description {
        margin: 20px 0 50px;
        color:$GrayishBlue;
    }
    .buttons {
        .btn {
            display: block;
            width: 100%;
            padding: 10px 70px;
            border-radius: 30px;
            border: none;
        
            color: #fff;
        }
        .btn-ios {
            background-color: $StrongCyan;
            margin-bottom: 20px;
            border-bottom: 2px solid #219f8a;
            &:hover {
                background-color: $StrongCyanHover; 
            }
        }
        .btn-mac {
            background-color: $LightBlue;
            border-bottom: 2px solid #4f62da;
            &:hover {
                background-color: $LightBlueHover;
            }
        }
    }
}