@import './colors';


#keep-track {
    text-align: center;
    margin-top: 150px;
    p {
        color: $GrayishBlue;
        margin: 25px 0 60px;
        display: inline-block;
    }

    .flex-box {
        display: flex;
        flex-direction: column;

        .flex-item {
            img{
                width: 100%;
              
            };
        }
        .text-box {
           margin-top: 55px;
        }
    }
}