@use "./../abstracts/breakpoints" as *;
@use '../abstracts/colors' as *;

.slider-buttons{
    width: 160px;
    height: 80px;
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    // background-color: $black;
    .btn{
        width: 50%;
        height: 100%;
        margin: 0;
background-color: $black;
transition: all 250ms ease-in-out;
&:hover {
    background: $very-dark-gray;
}
    }

    @include media("<850px") {
       display: none;
       }
}