.product {
    border: 1px solid var(--Darkgray);
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;

    h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .product-name{
        p {
            color: var(--Moderatecyan);
            font-weight: 500;
        }
    }

    p {
        margin: 20px 0;
        color: var(--Darkgray);
    }

 

    .product-selection {
        display: flex;
        flex-direction: column;

        .product-left {
            display: flex;
            align-items: center;
        }
        h3 {
            font-size: 28px;
        }

        small {
            color: var(--Darkgray);
            margin-left: 5px;
            font-size: 15px;
            
        }

        button {
            width: 60%;
            margin-top: 20px;
        }

    }

   
}