@import './color';
#header {
  z-index: 1;
  position: relative;
  display: flex;  
  justify-content: space-between;
  padding: 10px 0 35px;
  .logo {
    flex-basis: 20%;
    img {
        width: 100%;
    }
  }
  .nav {
    ul {
      list-style: none;
      display: flex;
      
      li{
        padding: 0 5px;

        a{
          color: $Off-White;
          text-decoration: none;
        
          border-bottom: 1px solid transparent;

          &:hover {
            color: $Hover-White;
            border-bottom: 1px solid $Hover-White;
          }
        }
      }
    }
  }
}